<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 ">
        <div class="form-edit-profil">

          <h2><%= resource_name.to_s.humanize %> Settings</h2>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <div class="row d-flex justify-content-between" style="padding: 10px 18px">
                <%= f.input :first_name, wrapper_html: {class: 'span6', style:'width: 250px'},required: true, autofocus: true %>
                <%= f.input :last_name, wrapper_html: {class: 'span3', style:'width: 250px'}, required: true, autofocus: true %>
            </div>
            <%= f.input :description, hint: "Please tell us a little bit about you!", required: true, autofocus: true %>
            <%= f.input :linked_in, hint: "Link your LinkedIn profile", required: true, autofocus: true %>

            <div class="row d-flex justify-content-between" style="padding: 10px 18px">
              <%= f.input :profession, wrapper_html: {class: 'span6', style:'width: 250px'}, collection: ['Product Manager', 'Project Manager', 'Developer', 'Freelancher', 'Graphic designer', 'UX Designer'],required: true, autofocus: true %>
              <%= f.input :industry, wrapper_html: {class: 'span3', style:'width: 250px'}, collection: ['E-Commerce', 'Tech', 'Marketing / PR', 'Design', 'Consulting'], required: true, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="form-actions">
              <%= f.button :submit, "Update" %>
            </div>

            <div class="btn-v2">
              <i class="fas fa-trash"></i>
              <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
              <div>
                <%= link_to "Back", :back %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 ">
        <div class="form-edit-profil">
          <h4> Photo:</h4>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <h4 style="margin-top: 50px">Change password:</h4>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>

          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

