<div class="navbar fixed-top <%= params[:controller] == 'pages' && params[:action] == 'home' ? 'homepage' : 'pages' %>">
  <%= link_to image_tag('logo/logo.png'), root_path, class: 'page-logo' %>
  <% if params[:controller] == 'workspaces' && params[:action] == 'index' %>
    <%= form_tag workspaces_path, method: :get, class: "search-form-control-ind form-group" do %>
    <div class="search-form-control-ind form-group">
      <%= text_field_tag :query,params[:query], class: "form-control string required", placeholder: "Find a workspace"%>
      <%= submit_tag "Search", class: "btn-nav" %>
    </div>
    <% end %>
  <% end %>
<div>
    <% if current_user %>
      <%= link_to 'Create Workspace', new_workspace_path%>
      <%= link_to 'Profile', profile_path%>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
    <% else %>
      <%= link_to 'Register', new_user_registration_path%>
      <%= link_to 'Login', new_user_session_path%>
    <% end %>
  </div>
</div>


