<div class="container text-center">
  <h1>Hi <%= current_user.first_name %>!</h1>
  <div class="row">
     <div class="col-xs-12 col-sm-5 text-center offset-1">
      <div class="personal-info">
        <%=image_tag("#{current_user.photo}", :type => :upload, :radius => 100, :width => 100, :height => 100, :gravity=>"faces" ) %>
        <p> </p>
        <h5> <%= current_user.profession%>  </h5>
        <p><%= current_user.description %></p>
        <div class="btn-v3" style="margin: auto">
          <%= link_to 'Edit Profile', edit_user_registration_path%>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5">
      <div class="text-left"> <%#= personal-info // just a comment  %>
        <%#=<h4>Your upcoming bookings:</h4>%>
        <% current_user.bookings.each do |booking| %>
        <div class="booking d-flex">
          <div class="booking-date d-flex flex-column align-items-center justify-content-center">
            <p><%= booking.date.day %>.</p>
            <p><%= (booking.date - 0.month).strftime("%b") %></p>
          </div>
          <div class="booking-ws d-flex justify-content-between p-2">
            <div class="details d-flex flex-column pl-3">
              <%= link_to booking.workspace.name, workspace_path(booking.workspace.id)%>
              <p> <%= booking.start_time.strftime('%H:%M')%> - <%= booking.end_time.strftime('%H:%M') %></p>
              <p> <%= booking.workspace.address%></p>
            </div>
            <div class="d-flex align-items-end pr-2">
               <%=link_to 'Cancel', workspace_booking_path(booking.workspace, booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            </div>
            <%#=image_tag("#{booking.workspace.photo}", :type => :upload, :radius => 100, :width => 100, :height => 110, :gravity=>"faces" ) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
